Binaries/*
Build/*
!Build/Android
!Build/BatchFiles
DerivedDataCache/*
ArchivedBuilds/*
Intermediate/*
Plugins/*/Intermediate/*
Saved/*
Plugins/*/Saved/*
Script/
Content/Developers/
Releases/

*_BuiltData.uasset

.vscode
.vs
.idea

Config/DefaultEditor.ini
Config/DefaultEditorPerProjectUserSettings.ini

Plugins/Developer
Plugins/*/Binaries/*

*.uasset.private.*
*.VC.db
*.opensdf
*.opendb
*.pdb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.vsconfig

.DS_Store